header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.web-application {
  display: flex;
  padding-top: 50px;

  &>aside {
    width: 12%;
    flex-shrink: 0;
    min-height: calc(100vh - 50px);
  }

  &>section {
    box-sizing: border-box;
    padding: 24px;

    width: 88%;
  }
}



main {
  h1, h2, h3, h4 {
    margin-bottom: 1em;
  }

  code {
    padding-left: 6px;
    padding-right: 6px;
  }

  ul {
    margin: 1em 0;
    padding-left: 2em;

    &.check-list i {
      color: #38c060;
    }
  }
}

.flex {
  .flex-control-label {
    width: 80px;
    padding-right: 16px;
    line-height: 36px;
    margin-bottom: 32px;
    text-align: right;
  }
}
