.sidebar {
  z-index: 10;
  background-color: #364150;

  .sidebar-toggle {
    padding: 12px 16px;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    opacity: 0.6;
    border-bottom: 1px solid #3d4957;

    &:hover {
      opacity: 0.9;
    }

    i {
      display: inline-block;
      transform: rotate(90deg);
    }
  }

  nav {
    ul {
      li {
        a {
          display: block;
          padding: 12px 16px;
          line-height: 24px;
          color: #b4bcc8;
          font-size: 14px;
          font-weight: 300;

          &:hover {
            background-color: #3e4b5c;
          }

          i {
            margin-right: 8px;
            font-size: 16px;
            color: #6b788b;
          }
        }
      }
    }
  }
}

.closed-sidebar {
  &.sidebar {
    width: 48px;

    .sidebar-toggle i {
      transform: rotate(0);
    }

    ul li a>span {
      display: none;
    }
  }
}




/*

/*==================================
              Sidebar
 =================================
.sidebar-box {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 10;
  width: 235px;
  background-color: #364150;
}

.closed .sidebar-box {
  width: 46px;
}

.sidebar-toggle {
  padding: 8px 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
  opacity: 0.6;
  text-align: center;
  border-bottom: 1px solid #3d4957;
}

.sidebar-toggle:hover {
  opacity: 0.9;
}

.sidebar-toggle i {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.closed .sidebar-toggle i {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* navigate
.navigate {}

.navigate li.nav-item {
  border-bottom: 1px solid #3d4957;
  position: relative;
}

.navigate a.nav-link {
  display: block;
  padding: 10px 15px;
  line-height: 20px;
  color: #b4bcc8;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}

.navigate a.nav-link:hover {
  background-color: #3e4b5c;
}

.navigate a.nav-link i {
  margin-left: 2px;
  margin-right: 10px;
  font-size: 16px;
  color: #6b788b;
}

.closed .navigate a {
  padding: 10px 0;
  text-align: center;
}

.closed .navigate a.nav-link i {
  margin: 0;
}

.closed .navigate a span {
  display: none;
}

.closed .navigate li ul {
  display: none;
  position: absolute;
  left: 46px;
  top: -20px;
  background-color: #2b3643;
  width: 180px;
  padding: 10px 0;
}

.closed .navigate li:hover ul {
  display: block;
}

.closed .navigate li ul::before {
  width: 8px;
  height: 8px;
  display: block;
  content: '';
  position: absolute;
  left: -4px;
  top: 30px;
  background-color: #2b3643;
  transform: rotate(45deg);
}

.closed .navigate li {
  width: 100%;
  height: 40px;
}

.closed .navigate li ul a.nav-link {
  padding: 6px;
}
/* navigate -> arrow
.nav-link .arrow {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 7px;
  height: 10px;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover .arrow,
li.open .nav-link .arrow {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.nav-link .arrow::after,
.nav-link .arrow::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border-right: 5px solid #586b7c;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.nav-link .arrow::after {
  left: 2px;
  border-right: 5px solid #364150;
}

.nav-link:hover .arrow::after {
  border-right: 5px solid #3e4b5c;
}
/* navigate -> sub-nav
.navigate .sub-nav {
  margin: 8px 0;
}

.navigate .sub-nav li.nav-item {
  border-bottom: 0;
}

.navigate .sub-nav a.nav-link {
  padding: 6px 15px 6px 43px;
}
/*==================================
              Main
 =================================
.main-box {
  margin-left: 235px;
  margin-top: 30px;
  padding: 25px 20px 10px;
  background-color: #fff;
  min-height: 2000px;
}

.closed .main-box {
  margin-left: 46px;
}
/* page-bar
.page-bar {
  padding: 10px 0;
}

.page-bar-left {
  float: left;
}

.page-bar-right {
  float: right;
}

*/
