// Global Variable

$red: #fa5a64;
$orange: #f48804;
$yellow: #fbbd08;
$olive: #c3d72d;
$green: #38c060;
$teal: #32c5d2;
$blue: #50d2fa;
$violet: #864fff;
$purple: #8c50c8;
$pink: #eb41a0;
$brown: #c87846;

$lightgray: #e6e6e6;
$gray: #acacac;
$black: #1b1c1d;

$white: #ffffff;
$dark: #000000;

$blue-steel: #4B77BE;
$code-color: #838fa1;

$text-color: #314659;
$title-color: #314659;
$link-color: #00C1DE;
$bg-color: #ffffff;
